*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 99vw;
    background: rgb(161, 158, 158);
    color: white;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;

    h1{
        font-size: 2vw;
        align-items: center;
    }
}


